# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Virtual environment
venv/
.env/

# Django / project files
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env

# IDE / Editor settings
.vscode/
.idea/

# OS junk files
.DS_Store
Thumbs.db

# Testing / coverage
htmlcov/
.coverage
.pytest_cache/
