{% extends "comm_polls/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="guest-view">
        <h1>Login</h1>

        {% if form.errors %}
            <ul class="messages"><li class="error">Your username and password didn't match. Please try again.</li></ul>
        {% endif %}

        <form method="post" style="text-align: left;">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit">Login</button>
        </form>

        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
        <p>Don't have an account? <a href="{% url 'comm_polls:signup' %}">Sign up</a></p>
    </div>
{% endblock %}
