{% extends "comm_polls/base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="guest-view">
        <h1>Change Your Password</h1>
        <form method="post" style="text-align: left;">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-help-text">{{ field.help_text|safe }}</small>
                    {% endif %}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit">Change Password</button>
        </form>
    </div>
{% endblock %}