{% extends "comm_polls/base.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
    <div class="guest-view">
        <h1>Set a New Password</h1>
        {% if validlink %}
            <form method="post" style="text-align: left;">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button type="submit">Set New Password</button>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
{% endblock %}