{% extends "comm_polls/base.html" %}

{% block title %}Account Settings{% endblock %}

{% block content %}
    <h1>Account Settings</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Update Account</button>
    </form>
    <hr>
    <p>
        <a href="{% url 'password_change' %}">Change Password</a>
    </p>
{% endblock %}