{% extends "comm_polls/base.html" %}

{% block title %}My Polls{% endblock %}

{% block content %}
    <h1>My Created Polls</h1>

    {% if polls %}
        <ul class="poll-list">
            {% for poll in polls %}
                <li class="poll-list-item {% if poll.is_suspended %}suspended{% endif %}">
                    <div class="poll-info">
                        <strong>{{ poll.name }}</strong>
                        {% if poll.is_suspended %}<p><span class="suspended-label">(Suspended)</span></p>{% endif %}
                    </div>
                    <div class="poll-actions">
                        <a href="{% url 'comm_polls:manage_poll' poll.id %}" class="button-link">Manage</a>
                        {% if poll.has_started %}
                            <a href="{% url 'comm_polls:results' poll.id %}" class="button-link secondary">View Results</a>
                        {% else %}
                            <a href="{% url 'comm_polls:poll_countdown' poll.id %}" class="button-link secondary">View Countdown</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not created any polls yet. <a href="{% url 'comm_polls:create_poll' %}">Create one now!</a></p>
    {% endif %}
{% endblock %}