{% extends "comm_polls/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="guest-view">
        <h1>Create an Account</h1>
        <form method="post" enctype="multipart/form-data" style="text-align: left;">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
    </div>
{% endblock %}