{% extends "comm_polls/base.html" %}

{% block title %}Vote: {{ poll.name }}{% endblock %}

{% block content %}
    <h1>{{ poll.name }}</h1>
    {% if poll.description %}
        <p class="poll-description">{{ poll.description }}</p>
    {% endif %}

    {% if error_message %}
        <ul class="messages"><li class="error">{{ error_message }}</li></ul>
    {% endif %}

    <form action="{% url 'comm_polls:vote' poll.id %}" method="post">
        {% csrf_token %}
        <div class="choice-list">
        {% for choice in poll.choices.all %}
            <label class="choice-item" for="choice{{ forloop.counter }}">
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="choice-radio">
                <span class="choice-name">{{ choice.name }}</span>
            </label>
        {% endfor %}
        </div>
        <div class="form-actions">
            <button type="submit">Cast Your Vote</button>
        </div>
    </form>
{% endblock %}